{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>My blog </h1>
        <nav>
            <a href="{% url 'blog_list' %}">Home</a>
        
{% if request.user.is_authenticated %}
     <a href="{% url 'post' %}">Create Post</a>
    <form method="post" action="{% url 'logout' %}" >
    {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% else %}  
    
            <a href="{% url 'login' %}">login</a>
            <a href="{% url 'register' %}">register</a>
        
{% endif %}
        </nav>
    </header>

 <!-- Global messages block -->
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    </div>
    
    <main>
        {% block content %}

        {% endblock %}
    </main>

<footer>
  <p>&copy; {% now "Y" %} My Blog. All rights reserved.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>